<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Question
      </div>
      <% if @trivia_question %>
      <%= content_tag :div, @trivia_question.question, class: 'panel-body' %>
    </div>

    <div class="list-group" id="item-button">
      <%= form_tag(check_trivia_question_answers_path(@trivia_question), method: :post) do |form|%>
        <% @trivia_question.answers.each do |f| %>
          <%= button_tag f.answer_text, class: 'list-group-item', name: 'answer_id', value: f.id.to_s %>
        <% end %>
      <% end %>
    </div>
      <% else %>
        <%= content_tag :div, 'Empty please wait for someone else to add a question!', class: 'panel-body' %>
    <% end %>
  </div>
</div>