<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Question
      </div>
      <%= content_tag :div, @trivia_question.question, class: 'panel-body' %>
    </div>

    <div class="list-group">
      <%= form_tag(answer_path) do |form|%>
        <% @trivia_question.answers.each do |f| %>
          <%= button_tag f.answer_text, class: 'list-group-item', name: 'answer_id', value: f.id.to_s %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>