.alert {
  margin-bottom: 0px;
}

.panel {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar {
  border: none;
  -webkit-box-shadow: 0 0 5px #ddd;
  -moz-box-shadow: 0 0 5px #ddd;
  box-shadow: 0 0 5px #ddd;
}